
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (frome the view)
        <p>Мы идем на вечеринку. <br />
        (To Do: sell is better. Add pics or something.)
        <p/>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>
