@model CommentModule.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thank you, @Model.Name!</h1>
        @if (Model.WillAttend ==true)
        {
            @:It's great that you coming. The drinks are alredy in the fridge!
        }
        else
        {
            @:Sorry to hear that you can't make it.
        }
    </p>
    <p>Click <a asp-action="ListResponses">here</a> to see who s coming</p>
</body>
</html>
